In [1]:
#import standard apis
import pandas
import numpy
import seaborn
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline           
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix,roc_auc_score,accuracy_score
from sklearn import tree
from sklearn .naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from pylab import rcParams
rcParams['figure.figsize']=10,8
from sklearn import datasets,linear_model
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [2]:
#hide all the warnings in jupiter notebook
import warnings
warnings.filterwarnings('ignore')

In [3]:
#import shoes_data.csv file
shoes_data=pandas.read_csv('C:/Users/dell/Desktop/shoes data.csv')

In [4]:
#check the titles of the data
shoes_data.head()

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers,comment
0,nike,20,large,3400,high,fit,24 months,12 months,4.5,0.05 off,positive
1,woodland,25,large,4500,high,fit,18 months,12 months,3.5,0.04off,positive
2,bata,8,small,2800,high,fit,12 months,12 months,3.2,0.04off,positive
3,addidas,30,large,5000,high,fit,18 months,12 months,4.0,0.05off,positive
4,puma,35,large,2400,high,fit,12 months,6 months,3.9,0.06off,positive

In [5]:
#mapping the comments data to ones and zeroes
shoes_data['comment']=shoes_data['comment'].map({'positive':1,'negative':0})

In [6]:
#spliting independent and dependent variables
shoes_data_x=shoes_data[['Brand','Age','size','price','quality','comfort','duration','warrenty','rating','offers']]
shoes_data_y=shoes_data[['comment']]

In [7]:
#split the train data and test data
x_train,x_test,y_train,y_test=train_test_split(shoes_data_x,shoes_data_y,test_size=0.20)

In [8]:
x_train

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
9,reebok,21,large,5000,high,fit,8 months,6 months,4.0,0.04off
5,seaandwear,42,large,1000,high,fit,18 months,12 months,5.0,0.03off
10,paragon,15,medium,500,low,unfit,12 months,6 months,4.0,0.05off
0,nike,20,large,3400,high,fit,24 months,12 months,4.5,0.05 off
7,fila,20,large,5000,low,unfit,6 months,6 months,2.9,0.03off
14,spark,26,large,1600,low,unfit,8 months,6 months,2.2,0.04off
1,woodland,25,large,4500,high,fit,18 months,12 months,3.5,0.04off
6,leecooper,45,large,2000,high,fit,24 months,12 months,3.4,0.03off
8,redtape,32,large,1500,low,unfit,6 months,6 months,2.9,0.05off
12,roadster,29,large,400,low,unfit,6 months,6 months,3.4,0.06off
2,bata,8,small,2800,high,fit,12 months,12 months,3.2,0.04off
13,crocks,15,medium,2000,high,fit,12 months,6 months,3.7,0.05off

In [9]:
#normalize the brand attribute
brand_encoder=preprocessing.LabelEncoder()

In [10]:
brand_encoder.fit(pandas.DataFrame(x_train['Brand']))

LabelEncoder()

In [11]:
x_train['Brand']=brand_encoder.transform(pandas.DataFrame(x_train[['Brand']]))

In [12]:
x_train

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
9,7,21,large,5000,high,fit,8 months,6 months,4.0,0.04off
5,9,42,large,1000,high,fit,18 months,12 months,5.0,0.03off
10,5,15,medium,500,low,unfit,12 months,6 months,4.0,0.05off
0,4,20,large,3400,high,fit,24 months,12 months,4.5,0.05 off
7,2,20,large,5000,low,unfit,6 months,6 months,2.9,0.03off
14,10,26,large,1600,low,unfit,8 months,6 months,2.2,0.04off
1,11,25,large,4500,high,fit,18 months,12 months,3.5,0.04off
6,3,45,large,2000,high,fit,24 months,12 months,3.4,0.03off
8,6,32,large,1500,low,unfit,6 months,6 months,2.9,0.05off
12,8,29,large,400,low,unfit,6 months,6 months,3.4,0.06off
2,0,8,small,2800,high,fit,12 months,12 months,3.2,0.04off
13,1,15,medium,2000,high,fit,12 months,6 months,3.7,0.05off

In [13]:
brand_scaler=StandardScaler()

In [14]:
brand_scaler.fit(pandas.DataFrame(x_train['Brand']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [15]:
x_train[['Brand']]=brand_scaler.transform(pandas.DataFrame(x_train[['Brand']]))

In [16]:
x_train

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
9,0.434524,21,large,5000,high,fit,8 months,6 months,4.0,0.04off
5,1.013890,42,large,1000,high,fit,18 months,12 months,5.0,0.03off
10,-0.144841,15,medium,500,low,unfit,12 months,6 months,4.0,0.05off
0,-0.434524,20,large,3400,high,fit,24 months,12 months,4.5,0.05 off
7,-1.013890,20,large,5000,low,unfit,6 months,6 months,2.9,0.03off
14,1.303572,26,large,1600,low,unfit,8 months,6 months,2.2,0.04off
1,1.593255,25,large,4500,high,fit,18 months,12 months,3.5,0.04off
6,-0.724207,45,large,2000,high,fit,24 months,12 months,3.4,0.03off
8,0.144841,32,large,1500,low,unfit,6 months,6 months,2.9,0.05off
12,0.724207,29,large,400,low,unfit,6 months,6 months,3.4,0.06off
2,-1.593255,8,small,2800,high,fit,12 months,12 months,3.2,0.04off
13,-1.303572,15,medium,2000,high,fit,12 months,6 months,3.7,0.05off

In [17]:
#normalize the age attribute
age_scaler=StandardScaler()
age_scaler.fit(pandas.DataFrame(x_train['Age']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [18]:
x_train[['Age']]=age_scaler.transform(pandas.DataFrame(x_train[['Age']]))

In [19]:
x_train

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
9,0.434524,-0.366933,large,5000,high,fit,8 months,6 months,4.0,0.04off
5,1.013890,1.643222,large,1000,high,fit,18 months,12 months,5.0,0.03off
10,-0.144841,-0.941263,medium,500,low,unfit,12 months,6 months,4.0,0.05off
0,-0.434524,-0.462655,large,3400,high,fit,24 months,12 months,4.5,0.05 off
7,-1.013890,-0.462655,large,5000,low,unfit,6 months,6 months,2.9,0.03off
14,1.303572,0.111675,large,1600,low,unfit,8 months,6 months,2.2,0.04off
1,1.593255,0.015954,large,4500,high,fit,18 months,12 months,3.5,0.04off
6,-0.724207,1.930387,large,2000,high,fit,24 months,12 months,3.4,0.03off
8,0.144841,0.686005,large,1500,low,unfit,6 months,6 months,2.9,0.05off
12,0.724207,0.398840,large,400,low,unfit,6 months,6 months,3.4,0.06off
2,-1.593255,-1.611315,small,2800,high,fit,12 months,12 months,3.2,0.04off
13,-1.303572,-0.941263,medium,2000,high,fit,12 months,6 months,3.7,0.05off

In [20]:
#normalize the size attribute
size_encoder=preprocessing.LabelEncoder()

In [21]:
size_encoder.fit(pandas.DataFrame(x_train['size']))

LabelEncoder()

In [22]:
x_train['size']=size_encoder.transform(pandas.DataFrame(x_train[['size']]))

In [23]:
x_train

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
9,0.434524,-0.366933,0,5000,high,fit,8 months,6 months,4.0,0.04off
5,1.013890,1.643222,0,1000,high,fit,18 months,12 months,5.0,0.03off
10,-0.144841,-0.941263,1,500,low,unfit,12 months,6 months,4.0,0.05off
0,-0.434524,-0.462655,0,3400,high,fit,24 months,12 months,4.5,0.05 off
7,-1.013890,-0.462655,0,5000,low,unfit,6 months,6 months,2.9,0.03off
14,1.303572,0.111675,0,1600,low,unfit,8 months,6 months,2.2,0.04off
1,1.593255,0.015954,0,4500,high,fit,18 months,12 months,3.5,0.04off
6,-0.724207,1.930387,0,2000,high,fit,24 months,12 months,3.4,0.03off
8,0.144841,0.686005,0,1500,low,unfit,6 months,6 months,2.9,0.05off
12,0.724207,0.398840,0,400,low,unfit,6 months,6 months,3.4,0.06off
2,-1.593255,-1.611315,2,2800,high,fit,12 months,12 months,3.2,0.04off
13,-1.303572,-0.941263,1,2000,high,fit,12 months,6 months,3.7,0.05off

In [24]:
#normalize the price attribute
price_scaler=StandardScaler()
price_scaler.fit(pandas.DataFrame(x_train['price']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [25]:
x_train[['price']]=price_scaler.transform(pandas.DataFrame(x_train[['price']]))

In [26]:
x_train

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
9,0.434524,-0.366933,0,1.587389,high,fit,8 months,6 months,4.0,0.04off
5,1.013890,1.643222,0,-0.927286,high,fit,18 months,12 months,5.0,0.03off
10,-0.144841,-0.941263,1,-1.241621,low,unfit,12 months,6 months,4.0,0.05off
0,-0.434524,-0.462655,0,0.581519,high,fit,24 months,12 months,4.5,0.05 off
7,-1.013890,-0.462655,0,1.587389,low,unfit,6 months,6 months,2.9,0.03off
14,1.303572,0.111675,0,-0.550085,low,unfit,8 months,6 months,2.2,0.04off
1,1.593255,0.015954,0,1.273054,high,fit,18 months,12 months,3.5,0.04off
6,-0.724207,1.930387,0,-0.298618,high,fit,24 months,12 months,3.4,0.03off
8,0.144841,0.686005,0,-0.612952,low,unfit,6 months,6 months,2.9,0.05off
12,0.724207,0.398840,0,-1.304488,low,unfit,6 months,6 months,3.4,0.06off
2,-1.593255,-1.611315,2,0.204317,high,fit,12 months,12 months,3.2,0.04off
13,-1.303572,-0.941263,1,-0.298618,high,fit,12 months,6 months,3.7,0.05off

In [27]:
#normalise the quality attribute
quality_encoder=preprocessing.LabelEncoder()

In [28]:
quality_encoder.fit(pandas.DataFrame(x_train['quality']))

LabelEncoder()

In [29]:
x_train['quality']=quality_encoder.transform(pandas.DataFrame(x_train[['quality']]))

In [30]:
x_train

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
9,0.434524,-0.366933,0,1.587389,0,fit,8 months,6 months,4.0,0.04off
5,1.013890,1.643222,0,-0.927286,0,fit,18 months,12 months,5.0,0.03off
10,-0.144841,-0.941263,1,-1.241621,1,unfit,12 months,6 months,4.0,0.05off
0,-0.434524,-0.462655,0,0.581519,0,fit,24 months,12 months,4.5,0.05 off
7,-1.013890,-0.462655,0,1.587389,1,unfit,6 months,6 months,2.9,0.03off
14,1.303572,0.111675,0,-0.550085,1,unfit,8 months,6 months,2.2,0.04off
1,1.593255,0.015954,0,1.273054,0,fit,18 months,12 months,3.5,0.04off
6,-0.724207,1.930387,0,-0.298618,0,fit,24 months,12 months,3.4,0.03off
8,0.144841,0.686005,0,-0.612952,1,unfit,6 months,6 months,2.9,0.05off
12,0.724207,0.398840,0,-1.304488,1,unfit,6 months,6 months,3.4,0.06off
2,-1.593255,-1.611315,2,0.204317,0,fit,12 months,12 months,3.2,0.04off
13,-1.303572,-0.941263,1,-0.298618,0,fit,12 months,6 months,3.7,0.05off

In [31]:
#normalise the comfort attribute
comfort_encoder=preprocessing.LabelEncoder()

In [32]:
comfort_encoder.fit(pandas.DataFrame(x_train['comfort']))

LabelEncoder()

In [33]:
x_train['comfort']=comfort_encoder.transform(pandas.DataFrame(x_train[['comfort']]))

In [34]:
x_train

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
9,0.434524,-0.366933,0,1.587389,0,0,8 months,6 months,4.0,0.04off
5,1.013890,1.643222,0,-0.927286,0,0,18 months,12 months,5.0,0.03off
10,-0.144841,-0.941263,1,-1.241621,1,1,12 months,6 months,4.0,0.05off
0,-0.434524,-0.462655,0,0.581519,0,0,24 months,12 months,4.5,0.05 off
7,-1.013890,-0.462655,0,1.587389,1,1,6 months,6 months,2.9,0.03off
14,1.303572,0.111675,0,-0.550085,1,1,8 months,6 months,2.2,0.04off
1,1.593255,0.015954,0,1.273054,0,0,18 months,12 months,3.5,0.04off
6,-0.724207,1.930387,0,-0.298618,0,0,24 months,12 months,3.4,0.03off
8,0.144841,0.686005,0,-0.612952,1,1,6 months,6 months,2.9,0.05off
12,0.724207,0.398840,0,-1.304488,1,1,6 months,6 months,3.4,0.06off
2,-1.593255,-1.611315,2,0.204317,0,0,12 months,12 months,3.2,0.04off
13,-1.303572,-0.941263,1,-0.298618,0,0,12 months,6 months,3.7,0.05off

In [35]:
#normalise the duration attribute
duration_encoder=preprocessing.LabelEncoder()

In [36]:
duration_encoder.fit(pandas.DataFrame(x_train['duration']))

LabelEncoder()

In [37]:
x_train[['duration']]=duration_encoder.transform(pandas.DataFrame(x_train[['duration']]))

In [38]:
x_train

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
9,0.434524,-0.366933,0,1.587389,0,0,4,6 months,4.0,0.04off
5,1.013890,1.643222,0,-0.927286,0,0,1,12 months,5.0,0.03off
10,-0.144841,-0.941263,1,-1.241621,1,1,0,6 months,4.0,0.05off
0,-0.434524,-0.462655,0,0.581519,0,0,2,12 months,4.5,0.05 off
7,-1.013890,-0.462655,0,1.587389,1,1,3,6 months,2.9,0.03off
14,1.303572,0.111675,0,-0.550085,1,1,4,6 months,2.2,0.04off
1,1.593255,0.015954,0,1.273054,0,0,1,12 months,3.5,0.04off
6,-0.724207,1.930387,0,-0.298618,0,0,2,12 months,3.4,0.03off
8,0.144841,0.686005,0,-0.612952,1,1,3,6 months,2.9,0.05off
12,0.724207,0.398840,0,-1.304488,1,1,3,6 months,3.4,0.06off
2,-1.593255,-1.611315,2,0.204317,0,0,0,12 months,3.2,0.04off
13,-1.303572,-0.941263,1,-0.298618,0,0,0,6 months,3.7,0.05off

In [39]:
warrenty_encoder=preprocessing.LabelEncoder()

In [40]:
warrenty_encoder.fit(pandas.DataFrame(x_train['warrenty']))

LabelEncoder()

In [41]:
x_train['warrenty']=warrenty_encoder.transform(pandas.DataFrame(x_train[['warrenty']]))

In [42]:
x_train

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
9,0.434524,-0.366933,0,1.587389,0,0,4,1,4.0,0.04off
5,1.013890,1.643222,0,-0.927286,0,0,1,0,5.0,0.03off
10,-0.144841,-0.941263,1,-1.241621,1,1,0,1,4.0,0.05off
0,-0.434524,-0.462655,0,0.581519,0,0,2,0,4.5,0.05 off
7,-1.013890,-0.462655,0,1.587389,1,1,3,1,2.9,0.03off
14,1.303572,0.111675,0,-0.550085,1,1,4,1,2.2,0.04off
1,1.593255,0.015954,0,1.273054,0,0,1,0,3.5,0.04off
6,-0.724207,1.930387,0,-0.298618,0,0,2,0,3.4,0.03off
8,0.144841,0.686005,0,-0.612952,1,1,3,1,2.9,0.05off
12,0.724207,0.398840,0,-1.304488,1,1,3,1,3.4,0.06off
2,-1.593255,-1.611315,2,0.204317,0,0,0,0,3.2,0.04off
13,-1.303572,-0.941263,1,-0.298618,0,0,0,1,3.7,0.05off

In [43]:
#normalise the rating attribute
ratings_encoder=preprocessing.LabelEncoder()

In [44]:
ratings_encoder.fit(pandas.DataFrame(x_train['rating']))

LabelEncoder()

In [45]:
x_train['rating']=ratings_encoder.transform(pandas.DataFrame(x_train[['rating']]))

In [46]:
x_train

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
9,0.434524,-0.366933,0,1.587389,0,0,4,1,6,0.04off
5,1.013890,1.643222,0,-0.927286,0,0,1,0,8,0.03off
10,-0.144841,-0.941263,1,-1.241621,1,1,0,1,6,0.05off
0,-0.434524,-0.462655,0,0.581519,0,0,2,0,7,0.05 off
7,-1.013890,-0.462655,0,1.587389,1,1,3,1,1,0.03off
14,1.303572,0.111675,0,-0.550085,1,1,4,1,0,0.04off
1,1.593255,0.015954,0,1.273054,0,0,1,0,4,0.04off
6,-0.724207,1.930387,0,-0.298618,0,0,2,0,3,0.03off
8,0.144841,0.686005,0,-0.612952,1,1,3,1,1,0.05off
12,0.724207,0.398840,0,-1.304488,1,1,3,1,3,0.06off
2,-1.593255,-1.611315,2,0.204317,0,0,0,0,2,0.04off
13,-1.303572,-0.941263,1,-0.298618,0,0,0,1,5,0.05off

In [47]:
#normalise the offers attribute
offers_encoder=preprocessing.LabelEncoder()

In [48]:
offers_encoder.fit(pandas.DataFrame(x_train['offers']))

LabelEncoder()

In [49]:
x_train['offers']=offers_encoder.transform(pandas.DataFrame(x_train[['offers']]))

In [50]:
x_train

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
9,0.434524,-0.366933,0,1.587389,0,0,4,1,6,1
5,1.013890,1.643222,0,-0.927286,0,0,1,0,8,0
10,-0.144841,-0.941263,1,-1.241621,1,1,0,1,6,3
0,-0.434524,-0.462655,0,0.581519,0,0,2,0,7,2
7,-1.013890,-0.462655,0,1.587389,1,1,3,1,1,0
14,1.303572,0.111675,0,-0.550085,1,1,4,1,0,1
1,1.593255,0.015954,0,1.273054,0,0,1,0,4,1
6,-0.724207,1.930387,0,-0.298618,0,0,2,0,3,0
8,0.144841,0.686005,0,-0.612952,1,1,3,1,1,3
12,0.724207,0.398840,0,-1.304488,1,1,3,1,3,4
2,-1.593255,-1.611315,2,0.204317,0,0,0,0,2,1
13,-1.303572,-0.941263,1,-0.298618,0,0,0,1,5,3

In [51]:
#y_train['comment']=y_train['comment'].map({'positive':1,'negative':0})

In [52]:
#y_train

In [53]:
x_train_original=x_train
x_train=x_train.values
y_train=y_train.values

In [54]:
#create object of logistic regression
logistic_regression=LogisticRegression()

In [55]:
logistic_regression.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [56]:
x_test

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
11,sports,27,large,800,low,unfit,6 months,6 months,3.3,0.07off
4,puma,35,large,2400,high,fit,12 months,6 months,3.9,0.06off
3,addidas,30,large,5000,high,fit,18 months,12 months,4.0,0.05off

In [57]:
#normalise the brand attribute
brand_encoder=preprocessing.LabelEncoder()

In [58]:
brand_encoder.fit(pandas.DataFrame(x_test['Brand']))

LabelEncoder()

In [59]:
x_test[['Brand']]=brand_encoder.transform(pandas.DataFrame(x_test[['Brand']]))

In [60]:
x_test

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
11,2,27,large,800,low,unfit,6 months,6 months,3.3,0.07off
4,1,35,large,2400,high,fit,12 months,6 months,3.9,0.06off
3,0,30,large,5000,high,fit,18 months,12 months,4.0,0.05off

In [61]:
#normalise the age attribute
age_encoder=preprocessing.LabelEncoder()

In [62]:
age_encoder.fit(pandas.DataFrame(x_test['Age']))

LabelEncoder()

In [63]:
x_test[['Age']]=age_encoder.transform(pandas.DataFrame(x_test[['Age']]))

In [64]:
#normalise the size attribute
size_encoder=preprocessing.LabelEncoder()

In [65]:
size_encoder.fit(pandas.DataFrame(x_test['size']))

LabelEncoder()

In [66]:
x_test[['size']]=size_encoder.transform(pandas.DataFrame(x_test[['size']]))

In [67]:
#normalise the price attribute
price_encoder=preprocessing.LabelEncoder()

In [68]:
price_encoder.fit(pandas.DataFrame(x_test['price']))

LabelEncoder()

In [69]:
x_test[['price']]=price_encoder.transform(pandas.DataFrame(x_test[['price']]))

In [70]:
#normalise the quality attribute
quality_encoder=preprocessing.LabelEncoder()

In [71]:
quality_encoder.fit(pandas.DataFrame(x_test['quality']))

LabelEncoder()

In [72]:
x_test[['quality']]=quality_encoder.transform(pandas.DataFrame(x_test[['quality']]))

In [73]:
#normalise the comfort attribute
comfort_encoder=preprocessing.LabelEncoder()

In [74]:
comfort_encoder.fit(pandas.DataFrame(x_test['comfort']))

LabelEncoder()

In [75]:
x_test[['comfort']]=comfort_encoder.transform(pandas.DataFrame(x_test[['comfort']]))

In [76]:
#normalise the duration attribute
duration_encoder=preprocessing.LabelEncoder()

In [77]:
duration_encoder.fit(pandas.DataFrame(x_test['duration']))

LabelEncoder()

In [78]:
x_test[['duration']]=duration_encoder.transform(pandas.DataFrame(x_test[['duration']]))

In [79]:
warrenty_encoder=preprocessing.LabelEncoder()

In [80]:
warrenty_encoder.fit(pandas.DataFrame(x_test['warrenty']))

LabelEncoder()

In [81]:
x_test[['warrenty']]=warrenty_encoder.transform(pandas.DataFrame(x_test[['warrenty']]))

In [82]:
#normalise the rating attribute
ratings_encoder=preprocessing.LabelEncoder()

In [83]:
ratings_encoder.fit(pandas.DataFrame(x_test['rating']))

LabelEncoder()

In [84]:
x_test[['rating']]=ratings_encoder.transform(pandas.DataFrame(x_test[['rating']]))

In [85]:
#normalise the offers attribute
offers_encoder=preprocessing.LabelEncoder()

In [86]:
offers_encoder.fit(pandas.DataFrame(x_test['offers']))

LabelEncoder()

In [87]:
x_test[['offers']]=offers_encoder.transform(pandas.DataFrame(x_test[['offers']]))

In [88]:
x_test

,Brand,Age,size,price,quality,comfort,duration,warrenty,rating,offers
11,2,0,0,0,1,1,2,1,0,2
4,1,2,0,1,0,0,0,1,1,1
3,0,1,0,2,0,0,1,0,2,0

In [89]:
#y_test['comment']=y_test['comment'].map({'positive':1,'negative':0})

In [90]:
#y_test

In [91]:
y_pred=logistic_regression.predict(x_test)

In [92]:
y_pred

array([0, 1, 1], dtype=int64)

In [93]:
print(accuracy_score(y_test,y_pred))

1.0

In [94]:
#to check accuracy using decision tree 
decision_tree=tree.DecisionTreeClassifier()

In [95]:
decision_tree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [96]:
y_pred=decision_tree.predict(x_test)

In [97]:
print(accuracy_score(y_test,y_pred))

1.0

In [98]:
#to check accuracy using naive_bayes
naive_bayes=GaussianNB()

In [99]:
naive_bayes.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [100]:
y_pred=naive_bayes.predict(x_test)
y_pred_prob=naive_bayes.predict_proba(x_test)

In [101]:
print(accuracy_score(y_test,y_pred))

1.0

In [102]:
#to check accuracy using random forest
random_forest=RandomForestClassifier()

In [103]:
random_forest.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [104]:
y_pred=random_forest.predict(x_test)

In [105]:
print(accuracy_score(y_test,y_pred))

1.0

In [106]:
#to check the accuracy of r2 model
print(r2_score(y_test,y_pred))

1.0